h1{
    background-color: rgb(228, 84, 239);
    text-align: center;
}

button{
    
    margin: 10%;
   
    color: rgb(159, 91, 7);
    border-color:rgb(18, 21, 56) ;
}
p{
    margin: 10%;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
table,td,th{
    border: 2px solid black;
}